<div class="panel panel-default">
  <div *ngFor="let court of courts | async">
    <div *ngIf="courtId === court.name" class="panel-heading">
      {{court.name}}
    </div>
    <div *ngFor="let game of games | async">
      <div *ngIf="game.location === court.name" class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-4 game-info">
            <span class="game-details">Number of players needed:</span> {{game.players}}
          </div>
          <div class="col-md-4 game-info">
            <span class="game-details">Date:</span> {{game.date}}
          </div>
          <div class="col-md-4 game-info">
            <span class="game-details">Time:</span> {{game.time}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
