<header class="intro-header" style="background-image: url('http://www.gsblaw.com/assets/htmlimages/blogs/9/2015/04/I-Stock-Basketball-Court.jpg')">

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Game Detail</h1>

        </div>
      </div>
    </div>
  </div>
</header>

<div class="panel panel-default">
  <div *ngFor="let court of courts | async">
    <div *ngIf="courtId === court.name" class="panel-heading game-heading">
      {{court.name}}<br><br>
      {{court.address}}
    </div>
  </div>
</div>
  <hr>
<div class="panel panel-default">
  <div class="panel-body">
      <div *ngFor="let game of games | async">
        <div *ngIf="game.location === courtId">
          <div class="col-md-4 game-info">
            <span class="game-details">Number of players needed:</span> {{game.numberPlayers}}
          </div>
          <div class="col-md-4 game-info">
            <span class="game-details">Date:</span> {{game.date}}
          </div>
          <div class="col-md-4 game-info">
            <span class="game-details">Time:</span> {{game.time}}
          </div>
        </div>
      </div>
  </div>
</div>

<div *ngFor="let court of courts | async">
    <div *ngIf="courtId === court.name">
      <div class="">
        <input #newNames type="text" placeholder="Names">
      </div>
      <div class="">
        <input #newNumberPlayers type="number" placeholder="Number of Players">
      </div>
      <div class="">
        <input #newLocation type="hidden" [(ngModel)]="court.name" type="text" placeholder="Location">
      </div>
      <div class="">
        <input #newDate type="text" placeholder="Date">
      </div>
      <div class="">
        <input #newTime type="text" placeholder="Time">
      </div>
      <button class="btn btn-warning" (click)="submitForm(newNames.value, newNumberPlayers.value, newDate.value, newTime.value, newLocation.value); newNames.value=''; newNumberPlayers.value=''; newDate.value=''; newTime.value='';" routerLink="/">Add</button>
    </div>
</div>
