
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button> -->
      <a class="navbar-brand" routerLink="">Pick Up Game</a>
    </div>


    <div class="" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="account">My Account</a></li>
        <li><a routerLink="games">Games</a></li>

      </ul>
    </div>
  </div>
</nav>

<header class="intro-header" style="background-image: url('http://www.gsblaw.com/assets/htmlimages/blogs/9/2015/04/I-Stock-Basketball-Court.jpg')">

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Active Games</h1>

        </div>
      </div>
    </div>
  </div>
</header>


<div *ngFor="let game of games | async" (click)="goToDetailPage(game)" class="panel panel-default">
  <div class="panel-heading game-heading">
    <span></span>{{game.location}}
  </div>

  <div class="panel-body">
    <div class="col-md-4 game-info">
      Players: {{game.names}}
    </div>
    <div class="col-md-4 game-info">
      Number of players needed: {{game.numberPlayers}}
    </div>
    <div class="col-md-4 game-info">
      Date: {{game.date}}
    </div>
    <div class="col-md-4 game-info">
      Time: {{game.time}}
    </div>

  </div>
</div>
  <app-add-game></app-add-game>
