<div class="jumbotron">
  <h1>Active Games</h1>
</div>
<div *ngFor="let game of games | async" (click)="goToDetailPage(game)" class="panel panel-default">
  <div class="panel-heading game-heading">
    <span></span>{{game.location}}
  </div>

  <div class="panel-body">
    <div class="col-md-4 game-info">
      Players: {{game.names}}
    </div>
    <div class="col-md-4 game-info">
      Number of players needed: {{game.numberPlayers}}
    </div>
    <div class="col-md-4 game-info">
      Date: {{game.date}}
    </div>
    <div class="col-md-4 game-info">
      Time: {{game.time}}
    </div>

  </div>
</div>
  <app-add-game></app-add-game>
