/* You can add global styles to this file, and also import other style files */
.game-heading {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.game-info {
  text-align: center;
}
