/* You can add global styles to this file, and also import other style files */
.game-heading {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.game-info {
  text-align: center;
}

.hash-search {
  text-align: center;
}

.add-game {
  width: 60%;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#add-button {
  font-size: 15px;
  width: 30%;
}

.profile-img {
  border-radius: 50%;
}

.profile-details {
  float: right;
}
