<div class="panel panel-default add-game">
  <div class="panel-heading">
    <h2 class="panel-title">Start a new pick up game!</h2>
  </div>
  <div class="panel-body add-game-info">
      <div class="">
        <input #newNames type="text" placeholder="Names">
      </div>
      <div class="">
        <input #newNumberPlayers type="number" placeholder="Number of Players">
      </div>
      <div class="">
        <input #newLocation type="text" placeholder="Location">
      </div>
      <div class="">
        <input #newDate type="text" placeholder="Date">
      </div>
      <div class="">
        <input #newTime type="text" placeholder="Time">
      </div>
      <button id="add-button" class="btn btn-warning" (click)="submitForm(newNames.value, newNumberPlayers.value, newDate.value, newTime.value, newLocation.value); newNames.value=''; newNumberPlayers.value=''; newDate.value=''; newTime.value=''; newLocation.value='';" routerLink="/">Add</button>
  </div>
</div>
