<header class="intro-header" style="background-image: url('http://www.gsblaw.com/assets/htmlimages/blogs/9/2015/04/I-Stock-Basketball-Court.jpg')">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>Seattle Pick Up Games</h1>
              <hr class="small">
              <span class="subheading">A Great Place To Find All pick up games in Seattle</span>
            </div>
          </div>
        </div>
      </div>
    </header>

<app-map></app-map>
<hr>
<app-twitter></app-twitter>
