<div class="jumbotron">
  <h1>My Account</h1>
</div>

<form class="new-user">
  <div>
    <input #newName placeholder="Name">
    <input #newUserName placeholder="Username">
    <input type="email" #userEmail placeholder="email">
  </div>
  <button class="btn btn-success new-acct" (click)="submitForm(newName.value, newUserName.value, userEmail.value); newName.value=''; newUserName.value=''; userEmail.value=''">Create Account</button>
  <button class="btn btn-primary acct-login">Account Login</button>
</form>

<h1>Accounts</h1>
<div *ngFor="let account of account | async" class="panel panel-default">
  <div class="panel-body">
    {{account.username}}
  </div>
</div>
