
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button> -->
      <a class="navbar-brand" routerLink="">Pick Up Game</a>
    </div>


    <div class="" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="account">My Account</a></li>
        <li><a routerLink="games">Games</a></li>
        
      </ul>
    </div>
  </div>
</nav>

<header class="intro-header" style="background-image: url('http://www.gsblaw.com/assets/htmlimages/blogs/9/2015/04/I-Stock-Basketball-Court.jpg')">

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>My Account</h1>

        </div>
      </div>
    </div>
  </div>
</header>


<button class="btn btn-warning create" (click)="showdiv(showform)">Create Account</button>

<div class="panel panel-default new-acct">
  <div *ngIf="showform === 'yes'">
    <form ng-show="hideElement" class="new-acct-form">
      <input #newName placeholder="Name" required>
      <input #newUserName placeholder="Username" required>
      <input type="email" #userEmail  placeholder="Email" required>
      <input #userPassword type="password" placeholder="Password" required>
      <input #userPicture placeholder="Photo">
      <br>
      <button class="btn btn-success new-acct" (click)="submitForm(newName.value, newUserName.value, userEmail.value, userPassword.value, userPicture.value); newName.value=''; newUserName.value=''; userEmail.value=''; userPassword.value=''; userPicture.value=''">Submit</button>
    </form>
  </div>
</div>

<h1>Accounts</h1>
<div *ngFor="let account of accounts | async" class="panel panel-default all-accounts">
  <div class="panel-body">
    <img class="profile-img" src="{{account.photo}}"/>
    <span class=profile-details>
      <h2>Username: {{account.username}}</h2>
      <h3>Name: {{account.name}}</h3>
      <h3>Email: {{account.email}}</h3>
    </span>
  </div>
</div>
