<div class="jumbotron">
  <h1>My Account</h1>
</div>

<!-- <button class="btn btn-warning">Create Account</button> -->
<form class="new-acct-form">
  <div>
    <input #newName placeholder="Name">
    <input #newUserName placeholder="Username">
    <input #userEmail type="email" placeholder="Email">
    <input #userPassword type="password" placeholder="Password">
    <input #userPicture placeholder="Photo">
  </div>
  <button class="btn btn-success new-acct" (click)="submitForm(newName.value, newUserName.value, userEmail.value, userPassword.value, userPicture.value); newName.value=''; newUserName.value=''; userEmail.value=''; userPassword.value=''; userPicture.value=''">Submit</button>
</form>

<h1>Accounts</h1>
<div *ngFor="let account of account | async" class="panel panel-default">
  <div class="panel-body">
    {{account.username}}
    {{account.email}}
    <img src="{{account.photo}}"/>
  </div>
</div>
